.bash_history
.bash_logout
.bash_profile
.bashrc
.cshrc
.docker/
.gitconfig
.rnd
.sh_history
.tcshrc
.viminfo
.viminfo.tmp
1
Dockerfile
anaconda-ks.cfg
python_prog/
sample.sh
sample1.sh
script.sh
test/
test1/

